In [26]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [14]:
np.random.seed(101)

In [5]:
labels = ["a","b","c"]
my_data = [10,20,30]
arr = np.array(my_data)
d = {"a":10,"b":20,"c":30}

In [10]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(data=labels, index=my_data)

10    a
20    b
30    c
dtype: object

In [27]:
df = pd.DataFrame(randn(5,4),["A","B","C","D","E"],["F","G","H","I"])

In [28]:
df

          F         G         H         I
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [32]:
df.F

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: F, dtype: float64

In [29]:
df["F"]

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: F, dtype: float64

In [31]:
type(df["F"])

pandas.core.series.Series

In [33]:
df[["G","H"]]

          G         H
A  0.628133  0.907969
B -0.319318 -0.848077
C  0.740122  0.528813
D -0.758872 -0.933237
E  1.978757  2.605967

In [35]:
df["new"]=df["G"]+df["H"]

In [36]:
df

          F         G         H         I       new
A  2.706850  0.628133  0.907969  0.503826  1.536102
B  0.651118 -0.319318 -0.848077  0.605965 -1.167395
C -2.018168  0.740122  0.528813 -0.589001  1.268936
D  0.188695 -0.758872 -0.933237  0.955057 -1.692109
E  0.190794  1.978757  2.605967  0.683509  4.584725

In [38]:
df.drop("F",axis=1)

          G         H         I       new
A  0.628133  0.907969  0.503826  1.536102
B -0.319318 -0.848077  0.605965 -1.167395
C  0.740122  0.528813 -0.589001  1.268936
D -0.758872 -0.933237  0.955057 -1.692109
E  1.978757  2.605967  0.683509  4.584725

In [39]:
df

          F         G         H         I       new
A  2.706850  0.628133  0.907969  0.503826  1.536102
B  0.651118 -0.319318 -0.848077  0.605965 -1.167395
C -2.018168  0.740122  0.528813 -0.589001  1.268936
D  0.188695 -0.758872 -0.933237  0.955057 -1.692109
E  0.190794  1.978757  2.605967  0.683509  4.584725

In [40]:
df.drop("F",axis=1,inplace=True)

In [41]:
df

          G         H         I       new
A  0.628133  0.907969  0.503826  1.536102
B -0.319318 -0.848077  0.605965 -1.167395
C  0.740122  0.528813 -0.589001  1.268936
D -0.758872 -0.933237  0.955057 -1.692109
E  1.978757  2.605967  0.683509  4.584725

In [42]:
df.drop("E")

          G         H         I       new
A  0.628133  0.907969  0.503826  1.536102
B -0.319318 -0.848077  0.605965 -1.167395
C  0.740122  0.528813 -0.589001  1.268936
D -0.758872 -0.933237  0.955057 -1.692109

In [43]:
df

          G         H         I       new
A  0.628133  0.907969  0.503826  1.536102
B -0.319318 -0.848077  0.605965 -1.167395
C  0.740122  0.528813 -0.589001  1.268936
D -0.758872 -0.933237  0.955057 -1.692109
E  1.978757  2.605967  0.683509  4.584725

In [47]:
df.loc["A"]

G      0.628133
H      0.907969
I      0.503826
new    1.536102
Name: A, dtype: float64

In [50]:
df.iloc[0]

G      0.628133
H      0.907969
I      0.503826
new    1.536102
Name: A, dtype: float64

In [52]:
df.loc["C","H"]

0.5288134940893595

In [53]:
df.shape

(5, 4)

In [54]:
df

          G         H         I       new
A  0.628133  0.907969  0.503826  1.536102
B -0.319318 -0.848077  0.605965 -1.167395
C  0.740122  0.528813 -0.589001  1.268936
D -0.758872 -0.933237  0.955057 -1.692109
E  1.978757  2.605967  0.683509  4.584725

In [55]:
df.loc[["B","D"],["G","I"]]

          G         I
B -0.319318  0.605965
D -0.758872  0.955057

In [56]:
df>0

       G      H      I    new
A   True   True   True   True
B  False  False   True  False
C   True   True  False   True
D  False  False   True  False
E   True   True   True   True

In [61]:
G = df[df["G"]>0]

In [64]:
G["H"]

A    0.907969
C    0.528813
E    2.605967
Name: H, dtype: float64

In [65]:
df

          G         H         I       new
A  0.628133  0.907969  0.503826  1.536102
B -0.319318 -0.848077  0.605965 -1.167395
C  0.740122  0.528813 -0.589001  1.268936
D -0.758872 -0.933237  0.955057 -1.692109
E  1.978757  2.605967  0.683509  4.584725

In [68]:
df[df["H"]>0][["G","I"]]

          G         I
A  0.628133  0.503826
C  0.740122 -0.589001
E  1.978757  0.683509